In [107]:
import pandas as pd
from tabulate import tabulate

In [61]:
a=pd.read_csv("/home/mmcoe/Documents/Iris.csv")

In [62]:
a.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [63]:
a

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [64]:
a.shape

(150, 6)

In [65]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [66]:
a.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [67]:
a['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [68]:
# Mean

In [69]:
a['SepalLengthCm'].mean()

5.843333333333335

In [70]:
a['SepalWidthCm'].mean()

3.0540000000000007

In [71]:
a['PetalLengthCm'].mean()

3.7586666666666693

In [72]:
# MDOE

In [73]:
a['SepalWidthCm'].mode()

0    3.0
Name: SepalWidthCm, dtype: float64

In [74]:
a['SepalLengthCm'].mode()

0    5.0
Name: SepalLengthCm, dtype: float64

In [75]:
a['PetalLengthCm'].mode()

0    1.5
Name: PetalLengthCm, dtype: float64

In [76]:
a['PetalWidthCm'].mode()

0    0.2
Name: PetalWidthCm, dtype: float64

In [77]:
# Median

In [78]:
a['SepalWidthCm'].median()

3.0

In [79]:
a['SepalLengthCm'].median()

5.8

In [80]:
a['PetalLengthCm'].median()

4.35

In [81]:
a['PetalWidthCm'].median()

1.3

In [82]:
# Mean, Mode,Median

In [83]:
a.mean()

/tmp/ipykernel_3405/1798845826.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [84]:
a.mode()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.0,3.0,1.5,0.2,Iris-setosa
1,2,NaN,NaN,NaN,NaN,Iris-versicolor
2,3,NaN,NaN,NaN,NaN,Iris-virginica
3,4,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
145,146,NaN,NaN,NaN,NaN,NaN
146,147,NaN,NaN,NaN,NaN,NaN
147,148,NaN,NaN,NaN,NaN,NaN
148,149,NaN,NaN,NaN,NaN,NaN
149,150,NaN,NaN,NaN,NaN,NaN

In [85]:
a.median()

/tmp/ipykernel_3405/3240354540.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a.median()

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [86]:
a[['SepalLengthCm','SepalWidthCm']].mean()

SepalLengthCm    5.843333
SepalWidthCm     3.054000
dtype: float64

In [87]:
a[['SepalLengthCm','SepalWidthCm']].mode()

   SepalLengthCm  SepalWidthCm
0            5.0           3.0

In [88]:
a[['SepalLengthCm','SepalWidthCm']].median()

SepalLengthCm    5.8
SepalWidthCm     3.0
dtype: float64

In [89]:
max = a['SepalLengthCm'].max()
print(max)

7.9

In [90]:
min = a['SepalLengthCm'].min()
print(min)

4.3

In [91]:
midrange = (max+min)/2
print(midrange)

6.1

In [92]:
range = (max-min)
print(range)

3.6000000000000005

In [93]:
a['SepalLengthCm'].std()

0.8280661279778629

In [94]:
# Standard Deviation and Variance

In [95]:
a['SepalLengthCm'].var()

0.6856935123042505

In [96]:
a.std()

/tmp/ipykernel_3405/2800935211.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a.std()

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [97]:
a.var()

/tmp/ipykernel_3405/2708643677.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a.var()

Id               1887.500000
SepalLengthCm       0.685694
SepalWidthCm        0.188004
PetalLengthCm       3.113179
PetalWidthCm        0.582414
dtype: float64

In [98]:
a2 = a.sample(10)
a2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
82,83,5.8,2.7,3.9,1.2,Iris-versicolor
70,71,5.9,3.2,4.8,1.8,Iris-versicolor
117,118,7.7,3.8,6.7,2.2,Iris-virginica
106,107,4.9,2.5,4.5,1.7,Iris-virginica
39,40,5.1,3.4,1.5,0.2,Iris-setosa
31,32,5.4,3.4,1.5,0.4,Iris-setosa
115,116,6.4,3.2,5.3,2.3,Iris-virginica
16,17,5.4,3.9,1.3,0.4,Iris-setosa
26,27,5.0,3.4,1.6,0.4,Iris-setosa
46,47,5.1,3.8,1.6,0.2,Iris-setosa

In [99]:
a2.std()

/tmp/ipykernel_3405/2527688602.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a2.std()

Id               38.461525
SepalLengthCm     0.853815
SepalWidthCm      0.459589
PetalLengthCm     1.996135
PetalWidthCm      0.856089
dtype: float64

In [100]:
a2.var()

/tmp/ipykernel_3405/1852878488.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a2.var()

Id               1479.288889
SepalLengthCm       0.729000
SepalWidthCm        0.211222
PetalLengthCm       3.984556
PetalWidthCm        0.732889
dtype: float64

In [101]:
a2.mean()

/tmp/ipykernel_3405/657418296.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a2.mean()

Id               65.80
SepalLengthCm     5.67
SepalWidthCm      3.33
PetalLengthCm     3.27
PetalWidthCm      1.08
dtype: float64

In [102]:
a2.mode()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   17            5.1           3.4            1.5           0.4  Iris-setosa
1   27            5.4           NaN            1.6           NaN          NaN
2   32            NaN           NaN            NaN           NaN          NaN
3   40            NaN           NaN            NaN           NaN          NaN
4   47            NaN           NaN            NaN           NaN          NaN
5   71            NaN           NaN            NaN           NaN          NaN
6   83            NaN           NaN            NaN           NaN          NaN
7  107            NaN           NaN            NaN           NaN          NaN
8  116            NaN           NaN            NaN           NaN          NaN
9  118            NaN           NaN            NaN           NaN          NaN

In [103]:
a2.median()

/tmp/ipykernel_3405/2394559868.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a2.median()

Id               59.00
SepalLengthCm     5.40
SepalWidthCm      3.40
PetalLengthCm     2.75
PetalWidthCm      0.80
dtype: float64

In [110]:
# Table form

In [104]:
head = ['Statitics','Sample','Population']

In [105]:
mydata = [["Mean",(a2['SepalLengthCm'].mean()),(a['SepalLengthCm'].mean())], 
          ["Mode",(a2['SepalLengthCm'].mode()),(a['SepalLengthCm'].mode())],
         ["Median",(a2['SepalLengthCm'].median()),(a['SepalLengthCm'].median())],
         ["SD",(a2['SepalLengthCm'].std()),(a['SepalLengthCm'].std())],
         ["Variance",(a2['SepalLengthCm'].var()),(a['SepalLengthCm'].var())]]

In [108]:
print(tabulate(mydata, headers = head, tablefmt="grid"))

+-------------+-------------------------------------+--------------+
| Statitics   | Sample                              |   Population |
+=============+=====================================+==============+
| Mean        | 5.67                                |     5.84333  |
+-------------+-------------------------------------+--------------+
| Mode        | 0    5.1                            |     5        |
|             | 1    5.4                            |              |
|             | Name: SepalLengthCm, dtype: float64 |              |
+-------------+-------------------------------------+--------------+
| Median      | 5.4                                 |     5.8      |
+-------------+-------------------------------------+--------------+
| SD          | 0.8538149682454624                  |     0.828066 |
+-------------+-------------------------------------+--------------+
| Variance    | 0.7290000000000001                  |     0.685694 |
+-------------+-------------------------------------+--------------+

In [109]:
a2['SepalLengthCm'].mode()

0    5.1
1    5.4
Name: SepalLengthCm, dtype: float64