In [1]:
import pandas as pd
from tabulate import tabulate

In [2]:
a=pd.read_csv("/home/hpc/Documents/Iris.csv")

In [3]:
a.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [4]:
a

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
a.shape

(150, 6)

In [6]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [7]:
a.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [8]:
a['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [9]:
# Mean

In [10]:
a['SepalLengthCm'].mean()

5.843333333333335

In [11]:
a['SepalWidthCm'].mean()

3.0540000000000007

In [12]:
a['PetalLengthCm'].mean()

3.7586666666666693

In [13]:
# MDOE

In [14]:
a['SepalWidthCm'].mode()

0    3.0
Name: SepalWidthCm, dtype: float64

In [15]:
a['SepalLengthCm'].mode()

0    5.0
Name: SepalLengthCm, dtype: float64

In [16]:
a['PetalLengthCm'].mode()

0    1.5
Name: PetalLengthCm, dtype: float64

In [17]:
a['PetalWidthCm'].mode()

0    0.2
Name: PetalWidthCm, dtype: float64

In [18]:
# Median

In [19]:
a['SepalWidthCm'].median()

3.0

In [20]:
a['SepalLengthCm'].median()

5.8

In [21]:
a['PetalLengthCm'].median()

4.35

In [22]:
a['PetalWidthCm'].median()

1.3

In [23]:
# Mean, Mode,Median

In [24]:
a.mean()

/tmp/ipykernel_20840/1798845826.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [25]:
a.mode()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.0,3.0,1.5,0.2,Iris-setosa
1,2,NaN,NaN,NaN,NaN,Iris-versicolor
2,3,NaN,NaN,NaN,NaN,Iris-virginica
3,4,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
145,146,NaN,NaN,NaN,NaN,NaN
146,147,NaN,NaN,NaN,NaN,NaN
147,148,NaN,NaN,NaN,NaN,NaN
148,149,NaN,NaN,NaN,NaN,NaN
149,150,NaN,NaN,NaN,NaN,NaN

In [26]:
a.median()

/tmp/ipykernel_20840/3240354540.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a.median()

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [27]:
a[['SepalLengthCm','SepalWidthCm']].mean()

SepalLengthCm    5.843333
SepalWidthCm     3.054000
dtype: float64

In [28]:
a[['SepalLengthCm','SepalWidthCm']].mode()

   SepalLengthCm  SepalWidthCm
0            5.0           3.0

In [29]:
a[['SepalLengthCm','SepalWidthCm']].median()

SepalLengthCm    5.8
SepalWidthCm     3.0
dtype: float64

In [30]:
max = a['SepalLengthCm'].max()
print(max)

7.9

In [31]:
min = a['SepalLengthCm'].min()
print(min)

4.3

In [32]:
midrange = (max+min)/2
print(midrange)

6.1

In [33]:
range = (max-min)
print(range)

3.6000000000000005

In [34]:
a['SepalLengthCm'].std()

0.8280661279778629

In [35]:
# Standard Deviation and Variance

In [36]:
a['SepalLengthCm'].var()

0.6856935123042505

In [37]:
a.std()

/tmp/ipykernel_20840/2800935211.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a.std()

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [38]:
a.var()

/tmp/ipykernel_20840/2708643677.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a.var()

Id               1887.500000
SepalLengthCm       0.685694
SepalWidthCm        0.188004
PetalLengthCm       3.113179
PetalWidthCm        0.582414
dtype: float64

In [39]:
a2 = a.sample(10)
a2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
48,49,5.3,3.7,1.5,0.2,Iris-setosa
65,66,6.7,3.1,4.4,1.4,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
83,84,6.0,2.7,5.1,1.6,Iris-versicolor
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
106,107,4.9,2.5,4.5,1.7,Iris-virginica
28,29,5.2,3.4,1.4,0.2,Iris-setosa
82,83,5.8,2.7,3.9,1.2,Iris-versicolor
42,43,4.4,3.2,1.3,0.2,Iris-setosa
125,126,7.2,3.2,6.0,1.8,Iris-virginica

In [40]:
a2.std()

/tmp/ipykernel_20840/2527688602.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a2.std()

Id               30.212029
SepalLengthCm     0.823003
SepalWidthCm      0.359629
PetalLengthCm     1.673187
PetalWidthCm      0.652261
dtype: float64

In [41]:
a2.var()

/tmp/ipykernel_20840/1852878488.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a2.var()

Id               912.766667
SepalLengthCm      0.677333
SepalWidthCm       0.129333
PetalLengthCm      2.799556
PetalWidthCm       0.425444
dtype: float64

In [42]:
a2.mean()

/tmp/ipykernel_20840/657418296.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a2.mean()

Id               75.10
SepalLengthCm     5.68
SepalWidthCm      3.04
PetalLengthCm     3.68
PetalWidthCm      1.11
dtype: float64

In [43]:
a2.mode()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,29,4.4,2.7,4.5,0.2,Iris-versicolor
1,43,4.9,3.2,NaN,NaN,NaN
2,49,5.2,NaN,NaN,NaN,NaN
3,66,5.3,NaN,NaN,NaN,NaN
4,67,5.6,NaN,NaN,NaN,NaN
5,83,5.7,NaN,NaN,NaN,NaN
6,84,5.8,NaN,NaN,NaN,NaN
7,97,6.0,NaN,NaN,NaN,NaN
8,107,6.7,NaN,NaN,NaN,NaN
9,126,7.2,NaN,NaN,NaN,NaN

In [44]:
a2.median()

/tmp/ipykernel_20840/2394559868.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a2.median()

Id               75.00
SepalLengthCm     5.65
SepalWidthCm      3.05
PetalLengthCm     4.30
PetalWidthCm      1.35
dtype: float64

In [45]:
# Table form

In [46]:
head = ['Statitics','Sample','Population']

In [47]:
mydata = [["Mean",(a2['SepalLengthCm'].mean()),(a['SepalLengthCm'].mean())], 
          ["Mode",(a2['SepalLengthCm'].mode()),(a['SepalLengthCm'].mode())],
         ["Median",(a2['SepalLengthCm'].median()),(a['SepalLengthCm'].median())],
         ["SD",(a2['SepalLengthCm'].std()),(a['SepalLengthCm'].std())],
         ["Variance",(a2['SepalLengthCm'].var()),(a['SepalLengthCm'].var())]]

In [48]:
print(tabulate(mydata, headers = head, tablefmt="grid"))

+-------------+-------------------------------------+--------------+
| Statitics   | Sample                              |   Population |
+=============+=====================================+==============+
| Mean        | 5.68                                |     5.84333  |
+-------------+-------------------------------------+--------------+
| Mode        | 0    4.4                            |     5        |
|             | 1    4.9                            |              |
|             | 2    5.2                            |              |
|             | 3    5.3                            |              |
|             | 4    5.6                            |              |
|             | 5    5.7                            |              |
|             | 6    5.8                            |              |
|             | 7    6.0                            |              |
|             | 8    6.7                            |              |
|             | 9    7.2                            |              |
|             | Name: SepalLengthCm, dtype: float64 |              |
+-------------+-------------------------------------+--------------+
| Median      | 5.65                                |     5.8      |
+-------------+-------------------------------------+--------------+
| SD          | 0.8230026326405847                  |     0.828066 |
+-------------+-------------------------------------+--------------+
| Variance    | 0.6773333333333332                  |     0.685694 |
+-------------+-------------------------------------+--------------+

In [ ]:
a2['SepalLengthCm'].mode()

In [ ]:
print("1.mean\n2.median\n3.mode\n4.max\n5.min\n6.std\n7.var\n8.exit")
var=' '
while(var!='exit'):
    var = input("Enter your choice: ")
    if var == 'mean':
        col = input("Enter the column name: ")
        print(a[col].mean())
    
    elif var =='median':
        col = input("Enter the column name: ")
        print(a[col].median())
    
    elif var =='mode':
        col = input("Enter the column name: ")
        print(a[col].mode()) 
    
    elif var =='max':
        col = input("Enter the column name: ")
        print(a[col].max())
    
    elif var =='min':
        col = input("Enter the column name: ")
        print(a[col].min()) 
    
    elif var =='std':
        col = input("Enter the column name: ")
        print(a[col].std()) 
    
    elif var =='var':
        col = input("Enter the column name: ")
        print(a[col].var())  
    
    else:
        print("Thank You")